@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;500;600;700;800&display=swap');

/*let's do some code*/
:root{
    --primary-clr: #403DD4;
    --text-light: #D1D0F2;
    --white: #fff;
    --mid-: #242424;
    --dark: #0D0D0D;
    --text-sec: #696969;
    --light-blue: #6F6DE5;
    --pale-dark: #191919;
}
::-webkit-scrollbar{
    width: 0.9rem;
    background-color: var(--mid-);
}
::-webkit-scrollbar-thumb{
    background-color: var(--text-sec);
    border-radius: 1rem;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;  
    color: var(--white);
    scroll-behavior: smooth;
}
body{
    background-color: var(--dark);
    padding: 3rem 10rem;
    padding-bottom: 0;
    overflow-x: hidden;
}
img{
    -webkit-user-drag: none;
}
.logo{
    width: 10rem;
}
.logo:hover{
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul > li > a{
    color: var(--text-light);
    list-style: none;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all ease 0.5s;
}
ul > li > a:hover{
    color: var(--white);
}
ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.primary-clr{
    color: var(--primary-clr);
}
.statement{
    font-size: 3.7rem;
    letter-spacing: -3px;
    line-height: 4rem;
    margin-bottom: 1rem;
}
.subtitle{
    font-size: 1.2rem;
    color: var(--text-sec);
    margin-bottom: 2rem;
    line-height: 1.7rem;
}
main{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.landing-img{
    animation-name: float;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes float{
    from{
        transform: translateY(-1rem);
    }
    to{
        transform: translateY(1rem);
    }
}
.content{
    width: 50%;
}
.btn{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.8rem;
    transition: all ease-in 0.1s;
}
.btn:hover{
    cursor: pointer;
    gap: 1rem;
}
.cta-btn{
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--primary-clr);
}
.arrow{
    width: 1rem;
}
article{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 1rem;
}
.info{
    z-index: 100;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.tag{
    font-size: 0.7rem;
    color: var(--primary-clr);
    letter-spacing: 5px;
}
.info-title{
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-weight: 600;
}
.info-content{
    font-size: 0.9rem;
    color: var(--text-sec);
    line-height: 1.4rem;
}
.hackathon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 8rem;
    background-image: url("../images/hackathon.png");
    margin-left: -10rem;
    width: 100vw;
    height: 20rem;
}
.wide-content{
    width: 40%;
    font-size: 0.9rem;
    color: var(--text-sec);
    line-height: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}
.features{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.features-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.features-content{
    display: flex;
    justify-content: space-between;
}
.features-title{
    font-size: 1rem;
}
.features-icon{
    width: 1.5rem;
    margin-bottom: 1rem;
}
.features-heading{
    font-size: 1.8rem;
}
.objective{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objective-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    text-align: center;
}
.objective-img{
    margin-top: 2rem;
}
footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-clr);
    height: 17rem;
    margin-left: -10rem;
    margin-top: 10rem;
    padding: 3rem 10rem;
}
.footer-logo{
    width: 10rem; 
}
.copyright{
    margin: 2rem 0;
}
.footer-link{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--light-blue);
    padding: 1rem 0;
}
.footer-link > li > a{
    color: var(--white) !important;
}
.about-para{
    color: var(--text-light);
    font-size: 1.2rem;
    line-height: 2rem;
}
.tiny-content{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.tiny{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5rem;
}
.tiny-heading{
    font-size: 1.1rem;
}
.tiny-para{
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--text-light);
}
.about-img{
    margin-right: -10rem;
}
.about-content{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
}
.about-info{
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.info-box{
    padding: 1.5rem;
    background-color: var(--pale-dark);
    border-radius: 1.4rem;
    width: 100%;
}
.info-box-title{
    font-size: 0.7rem;
    color: var(--text-light);
    letter-spacing: 4px;
    margin-bottom: 0.3rem;
}
.team{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.team-title{
    position: relative;
    font-size: 2.2rem;
    letter-spacing: -1px;
    margin-bottom: 2rem;
}
.team-title::after{
    content: "";
    background-image: url('../images/brush.svg');
    background-repeat: no-repeat;
    height: 0.8rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 3rem;
}
.team-profile{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3rem;
}
.team-content{
    width: 50%;
}
.team-card{
    background-color: var(--pale-dark);
    border-radius: 1.4rem;
}
.pic-box{
    background-color: var(--primary-clr);
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.team-info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sm-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--pale-dark);
    border-radius: 1.4rem;
    width: 100%;
    gap: 0.8rem;
    transition: all ease-out 0.2s;
}
.sm-box:hover, .primary-btn:hover{
    cursor: pointer;
}
.sm-box:active, .primary-btn:active{
    transform: scale(0.9);
}
.sm-box-title{
    font-size: 0.7rem;
    color: var(--text-light);
    letter-spacing: 4px;
}
.sm-info{
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.tiny-text{
    font-size: 0.8rem;
    color: var(--text-light);
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-top: 1px solid var(--mid-);
    padding-top: 0.8rem;
}
.contact-content{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    gap: 14rem;
}
.primary-btn{
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-clr);
    border-radius: 10px;
    position: relative;
    border: none;
    outline: none;
    transition: all ease-out 0.2s;
}
.email-data{
    font-size: 1.1rem;
}
.active-link{
    color: var(--primary-clr);
}